@model IEnumerable<BetService.Repository.Entity.Bets>

@{
    ViewBag.Title = "Index";
}

<h2>Bets</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    @Html.Partial("_BetsSummary", item)
}

